.app_container{
  width: 100%;
  min-height: 100vh;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app_first_pannel{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    background-color: white;
    padding: 20px 40px;
    border-radius: 15px;
    animation: first_pannel 0.5s forwards;
}
@keyframes first_pannel {
  0%{
    opacity: 0;
    scale: 0.8;
  }
  100%{
    opacity: 1;
    scale: 1;
  }
}